:root{
    --preto: #000000;
    --azul: #015197;
    --cinza: #393939;
    --bege: #68684d;
    --branco: #ffffff;
    --azulClaro: #1693a5;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: var(--cinza);
    border-bottom-right-radius: 30px;
    text-align: center;
    padding: 10px;
    display: flex;
}

.navbar-light .navbar-toggler {
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#navbarNavAltMarkup{
    transition: all 0.3s;
}

.a{
    color: var(--branco);
    padding: 10px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    min-height: 10px;
    width: auto;
    font-size: 20px;
}

.a:hover{
    color: var(--azulClaro);
    transition: all 250ms;
    transform: scale(1.02);
}

.idPerfil, #idPerfil{
    color: var(--azulClaro);
    display: flex;
    margin-top: 11px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-align: center;
    flex-direction: row;
    padding-left: 10px;
}

.perfil, #perfil{
    color: var(--branco);
    display: flex;
    margin-top: 11px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.perfil:hover, #perfil:hover{
    color: var(--bege);
    transition: all 150ms ease-in-out;
    text-shadow: var(--preto) 1px 1px 1px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    color: var(--branco);
    background: var(--bege);
    
}

.card{
    color: #214d04;
    width: 300px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background: var(--azulClaro);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: var(--branco);
    text-align: center;
    transition: all 0.3s;
}
.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 10px;
}

#imagem-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  #imagem-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

@media (width < 992px){
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: auto;
        width: 100%;
    }

    .a{
        font-size: 15px;
        padding: 5px;

    }
}

@media (width < 352px){
    .card{
        color: #214d04;
        width: auto;
        height: 100%;
        padding: 10px;
        margin: 10px;
    }
}