:root{
    --preto: #000000;
    --azul: #015197;
    --cinza: #393939;
    --bege: #b5b598;
    --branco: #ffffff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    min-height: auto;
    background-color: var(--cinza);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    padding: 10px;
}

#navbarNavAltMarkup{
    transition: all 0.2s;
}

.a{
    color: var(--branco);
    padding: 10px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    min-height: 10px;
    width: auto;
}

.idPerfil{
    color: #1693a5;
    display: flex;
    margin-top: 11px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.perfil{
    color: violet;
    padding: 10px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    min-height: 10px;
    width: auto;
    margin-top: 11px;
}

 #perfil{
    color: violet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
    padding-right: 10px;
}


.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    color: var(--branco);
    background: var(--bege);
}

.wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 10px;
}


@media (max-width: 768px){
    .header{
        display: flex;
        
    }
}